@keyframes message {
  from {
    right: 0;
  }
  to {
    right: 45px;
  }
}

.articles__login {
  min-width: 182px;
  min-height: 40px;
  color: #000;
  font-family: Roboto, Inter, sans-serif;
  font-weight: 500;
  line-height: 12px;
  font-size: 10px;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 8px 16px;
  box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 45px;
  margin: 24px;
  display: none;
  animation: message ease-in .05s;
  z-index: 0;
  box-sizing: border-box;
}

.articles__icon_not-active:hover + .articles__login {
  display: flex;
}