@import url('./__title/search__title.css');
@import url('./__text/search__text.css');
@import url('./__input/search__input.css');
@import url('./__button/search__button.css');
@import url('./__form/search__form.css');
.search {
  margin: 80px auto 0 auto;
  max-width: 608px;
  box-sizing: border-box;
  color: #ffffff;
}