.header-menu__button{
  background-color: transparent;
  font-family: Roboto, Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  align-self: center;
  min-height: 48px;
  width: 176px;
  margin-top: 3px;
}