@import url(../header/__logo/header__logo.css);
@import url(../header/__container/header__container.css);


.header {
  align-items: center;
  border-bottom: 1px solid #A5A5A5;
  position: relative;
  background-color: black;
}
