.header {
  max-width: 1440px;
  width: 100%;
  min-height: 576px;
  margin: auto;
  background-image: url("../../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }